.bgimgRegister {
    width: 100%;
    background-image: linear-gradient(rgba(131, 211, 142, 0.75), rgba(0, 0, 0, 0.75)), url('../../Images/Login.jpg');
    background-size: cover;
    background-position: center;

}

.w-100{
    position: absolute;
    height: 110vh;
    left: 50%;
    z-index: 9999;
}